/* Footer Styles */

.footer {
    background-color: white;
    padding: 20px;
    position: fixed;
    bottom: 4em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  