.FormInputs {
  display: flex;
  flex-direction: column;
  width: 500px;
}

input[type=radio] {
  margin-right: 0px;
}

input {
  padding: 15px;
  border: 1px solid grey;
  border-radius: 10px;
  resize: vertical;
  margin: 10px 10px 0px 0px;

}

input:focus {
  outline: none; /* Remove the default focus outline */
  border: 1px solid black; /* Add your custom border style/color */
  cursor: text; /* Set a text cursor */
}

input:invalid[focused = "true"] {
  border: 1px solid red;
}

input:invalid[focused = "true"] ~ span{
  display: block;
}

/* Style the container for radio buttons */
.radio-buttons {
  display: flex;
  align-items: center;
  padding: 10px;

}

