.flex {
    display: flex;
    justify-content: flex-start; /*Aligns items to left*/
    align-items: flex-start; /*Aligns items to the top*/
    flex-wrap: wrap; /*Moves to next line when no space is available*/
}

.LogoBrandContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: blue;
}

.Ellipse {
    position: absolute;
    top: 2%;
    left: 250px;
    transform: translateX(-50%);
    width: 320px;
    height: 320px;
    background-color: #663D79;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
  }
  
.Datawiz {
    position: absolute;
    top: 2.5%;
    margin-left: 480px; 
}
  
.NavBarContainer {
  position: absolute;
  top: 2.5%;
  left: 50%; /* Center the NavBar horizontally */
  transform: translateX(-50%); /* Adjust to center the NavBar */
  width: 1650px;
  height: 260px;
  display: inline-flex;
  justify-content: space-between; /* Spacing between button containers */
}

.NavBarCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 30px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
  padding-right: 8px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items (image and button) to the center */
  margin: 0 10px; /* Adjust the spacing between button containers */
  flex: 1; /* Allow containers to grow equally */
  text-align: center; /* Center the content within the container */
}
  
.iconImage {
  max-width: 200px;
  max-height: 200px;
  display: block; /* Center the image within the container */
  margin: 0 auto; /* Center the image horizontally */
}
  
.NavBar-HOME-Button,
.NavBar-ANI-Button,
.NavBar-QUIZZES-Button,
.NavBar-FAQS-Button,
.NavBar-SETTINGS-Button {
  width: 90%; /* Adjust as needed */
  margin-right: 8%; /* Adds the spacing between buttons */
  padding: 8px;
  background: white;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
  display: block; /* Center the button within the container */
  margin: 0 auto; /* Center the button horizontally */
}



.NavBar-HOME-Button:hover,
.NavBar-ANI-Button:hover,
.NavBar-QUIZZES-Button:hover,
.NavBar-FAQS-Button:hover,
.NavBar-SETTINGS-Button:hover {
  color: #e600fb;
}

.NavBar-HOME-Button:active,
.NavBar-ANI-Button:active,
.NavBar-QUIZZES-Button:active,
.NavBar-FAQS-Button:active,
.NavBar-SETTINGS-Button:active {
  color: #8A5A8E;
}



/* align-items: baseline (Cross-axis -> Item text alignment)*/
/* justify-content: space-evenly (Main-axis)*/



