.flex {
    display: flex;
    justify-content: flex-start; /*Aligns items to left*/
    align-items: flex-start; /*Aligns items to the top*/
    flex-wrap: wrap; /*Moves to next line when no space is available*/
}

.Ellipse {
    position: absolute;
    top: 2%;
    left: 250px;
    transform: translateX(-50%);
    width: 320px;
    height: 320px;
    background-color: #663D79;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
  }
  
.Datawiz {
    position: absolute;
    top: 2.5%;
    margin-left: 480px; 
}
  
.NavBarContainer {
    position: absolute;
    top: 2.5%;
    left: 1300px;
    width: 1650px;
    height: 250px;
    margin-right: 13%;
}

.NavBarCard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 30px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
  }

.NavBar-HOME-Button,
.NavBar-ANI-Button,
.NavBar-QUIZZES-Button,
.NavBar-FAQS-Button,
.NavBar-SETTINGS-Button {
  width: 10%; /* Adjust as needed */
  margin-right: 8%; /* Adds the spacing between buttons */
  padding: 10px;
  background: white;
  border: none;
  border-radius: 5px;
  color: rgb(119, 117, 117);
  font-size: 3rem;
  font-weight: 500;
  text-align: center; 
  display: inline-flex; /* Use inline-flex to align buttons horizontally */
  align-items: center; /* Center vertically */
  justify-content: space-evenly; /* Center horizontally */
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Remove the right margin from the last button to prevent extra spacing */
.NavBar-SETTINGS-Button {
    margin-right: 0;
  }

.NavBar-HOME-Button:hover,
.NavBar-ANI-Button:hover,
.NavBar-QUIZZES-Button:hover,
.NavBar-FAQS-Button:hover,
.NavBar-SETTINGS-Button:hover {
  color: #8A5A8E;
}

.NavBar-HOME-Button:active,
.NavBar-ANI-Button:active,
.NavBar-QUIZZES-Button:active,
.NavBar-FAQS-Button:active,
.NavBar-SETTINGS-Button:active {
  color: #8A5A8E;
}



/* align-items: baseline (Cross-axis -> Item text alignment)*/
/* justify-content: space-evenly (Main-axis)*/

