@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../fonts/Gilroy-SemiBold.ttf') format('truetype'); 
}

/* Adjusted .table-container */
.table-container {
    width: 100%; /* Take up full width of the SchemaDisplayCard */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; /* Align tables to the top */
  }
  
  /* Adjusted .table */
  .table {
    width: 45%; /* Adjust the width of each table */
    border-collapse: collapse;
    margin: 20px; /* Adjust margin between tables */
    border-radius: 70px; /* Adjust the radius for rounded edges */
  }
  

/* Style for the table headers */
.table th {
    padding: 20px;
    background-color: #d1b2d4; 
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
    color: #000000;
    font-size: 44px;
    text-align: center;
}

/* Style for the table cells */
.table td {
    padding: 20px;
    border-bottom: 5px solid #ffffff;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}

/* Add vertical lines between columns and on table edges */
.table th, .table td {
    border-right: 5px solid #ffffff;
}

.table th:first-child, .table td:first-child {
    border-left: 5px solid #ffffff;
}

/* Media query to adjust layout for smaller screens */
@media (max-width: 768px) {
    .table {
        width: 95%; /* Adjust the width of each table for smaller screens */
    }
}
