@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('../fonts/Gilroy-SemiBold.ttf') format('truetype'); 
}

.SchemaSelectionTitle {
  font-family: 'Gilroy-Bold', sans-serif;
}

.SchemaSelectionText {
  font-family: 'Gilroy-SemiBold', sans-serif;
}

/* Container for both Header2 and SchemaSelectionCard */
.SchemaSelectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh;
}

.SchemaSelectionCard {
    width: 80%;
    height: 3100px;
    background: white;
    border-radius: 45px;
    position: relative;
    top: '400px';
    padding: 150px; 
    padding-left: 170px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
  }

  /* Style for the SchemaSelectionTitle */
.SchemaSelectionTitle {
  color: 'white';
  font-Size: 6.5rem;
  font-Weight: 700;
  font-family: Gilroy-Bold, sans-serif;
  margin-bottom: 40px; 
}

/* Style for the SchemaSelectionText */
.SchemaSelectionText {
  font-size: 3.5rem;
  font-weight: 540;
  font-family: Gilroy-SemiBold, sans-serif;
  word-wrap: break-word;
  margin-bottom: 90px;
}

/* Style for the coloredline */
.colored-line {
  background-image: linear-gradient(to right, #20002c, #cbb4d4);
  margin: 20px auto;
  height: 10px;
  width: 97%;
  border-radius: 9px;
  margin-bottom: 130px; 
}

/* Container for schema buttons */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5%; /* Set the container height to match the button height */
}

.Schema1Button,
.Schema2Button,
.Schema3Button,
.Schema4Button,
.Schema5Button {
  width: 15%;
  height: 100%;
  background: #8A5A8E;
  border-radius: 100px;
  color: white;
  font-size: 3.2rem;
  font-weight: 500;
  font-family: Gilroy-SemiBold, sans-serif;
  text-align: center; 
  display: inline-flex; /* Use inline-flex to align buttons horizontally */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  cursor: pointer;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
  margin-right: 2%;
  transition: background 0.3s ease;
}

/* Change the background color on hover */
.Schema1Button:hover,
.Schema2Button:hover,
.Schema3Button:hover,
.Schema4Button:hover,
.Schema5Button:hover {
  background: #663d79; 
}

/* Change the background color when the button is clicked */
.Schema1Button:active,
.Schema2Button:active,
.Schema3Button:active,
.Schema4Button:active,
.Schema5Button:active {
  background: #663d79; 
}

/* Remove the right margin from the last button to prevent extra spacing */
.Schema5Button {
  margin-right: 0;
}

.SchemaDisplayCard {
  display: flex;
  width: 95%;
  max-width: 95%;
  height: 1700px;
  max-height: 1700px; 
  background: #8A5A8E;
  border-radius: 50px;
  position: relative;
  margin-top: 130px;
  left: 50%; 
  transform: translateX(-50%); 
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
  overflow: auto; /* Enable both horizontal and vertical scrolling when content exceeds the max width or height */
}

.SchemaDisplayCardContent {
  padding: 20px; /* Add padding to separate content from edges */
}

.SchemaSelectButton-container {
  position: relative;
  margin-top: 80px; 
  height: 5.5%; 
  width: 100%;
  justify-content: center;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
}

.SchemaSelectButton {
  width: 15%;
  height: 100%;
  background: #663d79;
  border-radius: 50px;
  color: white;
  font-size: 3.2rem;
  font-weight: 500;
  font-family: Gilroy-SemiBold, sans-serif;
  text-align: center;
  cursor: pointer;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
  transition: background 0.3s ease;
}

.SchemaSelectButton:hover {
  background: #522b5e;
}

.SchemaSelectButton:active {
  background: #522b5e;
}